body {
    background-color: #242526;
}

.input {
    width: 100%
}

.home {
    position: fixed;
    display: inline-block;
    width: 100%;
    max-width: 800px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
