.friendSelect {
    background-color: #242526;
    width: 100%;
    max-width: 800px;
    transform: translateY(12vh);
    margin-left: auto;
    margin-right: auto;
}

.friends {
    justify-content: center;
}

.recast, .button {
    position: relative;
    padding-top: 6em;
}

.recast {
    min-height: 8em;
}
