.result {
    position: absolute;
    display: inline-block;
    width: 100%;
    max-width: 1400px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: visible;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.buttons {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 6em;
    top: 53%;
    left: 93%;
}
